<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
<img src="./images/logo-mercado-liebre.svg" alt="Logo">
<span>Barra para Buscar</span>
<br>
<span>Comprá en cuotas y sin tarjeta de crédito</span>
<ul>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>

<ul>
    <li><a href="#">Creá tu cuenta</a></li>
    <li><a href="#">Ingresá</a></li>
    <li><a href="#">Mis compras</a></li>
</ul>
    </header>
    <main>
<section>
    <h2>Basado en tu última visita</h2>
    <article>
        <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><strong>Cafetera Moulinex</strong></p>
    </article>
</section>
    </main>
    <footer>
<ul>
    <li><strong>Pagá con tarjeta o en efectivo</strong></li>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <li>Envío gratis desde $ 2.500</li>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 

</ul>
    </footer>
</body>
</html>